<!DOCTYPE html>
<html>
  <head>
 <!--bootstrap-->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
  <link rel="icon" href="/images/logo-low.ico">
  <title>Restaurante San Telmo</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= javascript_include_tag 'application', media: 'all' %>
    <!--mobile friendly-->
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!--font-->
    <link href='https://fonts.googleapis.com/css?family=Arvo:400,700' rel='stylesheet' type='text/css'>
    <link href="https://fonts.googleapis.com/css?family=Cookie&display=swap" rel="stylesheet"> 
      <!--font awesome-->
      <script src="https://use.fontawesome.com/811422e9bc.js"></script>
      <!--material icons-->
      <link href="https://fonts.googleapis.com/icon?family=Material+Icons"
      rel="stylesheet">
  </head>

  <body id="bs-over">

    <!-- Load Facebook SDK for JavaScript -->
      <div id="fb-root"></div>
      <script>
        window.fbAsyncInit = function() {
          FB.init({
            xfbml            : true,
            version          : 'v4.0'
          });
        };

        (function(d, s, id) {
        var js, fjs = d.getElementsByTagName(s)[0];
        if (d.getElementById(id)) return;
        js = d.createElement(s); js.id = id;
        js.src = 'https://connect.facebook.net/es_LA/sdk/xfbml.customerchat.js';
        fjs.parentNode.insertBefore(js, fjs);
      }(document, 'script', 'facebook-jssdk'));</script>

      <!-- Your customer chat code -->
      <div class="fb-customerchat"
        attribution=setup_tool
        page_id="756034581211786"
  theme_color="#0084ff"
  logged_in_greeting="Hola! Como te puedo ayudar?"
  logged_out_greeting="Hola! Como te puedo ayudar?">
      </div>
   <div id="top">
  </div>
  <!--for mobile-->
    <div class="icon-menu pull-left">
        <i class="material-icons">&#xE5D2;</i>
      </div>
   <!-- Mobile Menu -->
    <div class="menu">
      <div class="row">
      <div class="col-md-12 col-xs-12">
      <div class="icon-close">
        <i class="material-icons">&#xE5CD;</i>
      </div>
      <ul>
        <li><a href="/">Home</a></li>
        <li><a href="/menu">Menu</a></li>
        <li><a href="/gallery">Gallery</a></li>
        <li><a href="/rooms">Rooms</a></li>
        <li><a href="/about">About</a></li>
      </ul>
      <img class="img-responsive" src="/images/flordelavida.png">
    </div>
  </div>
</div>
  <!--header-->
      <div class="header">
        <div class="container">
            <a href="/"><img class="mobile-logo" src="/images/logo-low.png" height="150px"/></a>

              <!--desktop nav-->
            <ul class="nav">
              <li><a href="/menu">Menu</a></li>
              <li><a href="/gallery">Gallery</a></li>
              <li><a href="/"><img src="/images/logo-low.png" height="150px"/></a></li>
              <li><a href="/rooms">Rooms</a></li>
              <li><a href="/about">About</a></li>
              
            </ul>
          </div>
        </div>
<%= yield %>
<!-- pre foter-->
    <div class="pre-footer">
      <div class="container">
        <ul>
          <li><a href="https://www.facebook.com/santelmoresto/" target="_blank"><i class="fa fa-facebook fa-2x" id="fb" aria-hidden="true"></i></a>
</li>
          <li><a href="https://www.tripadvisor.com.mx/Restaurant_Review-g562625-d4071525-Reviews-San_Telmo-Flores_Peten_Department.html" target="_blank"><i  class="fa fa-tripadvisor fa-2x" id="trip-advisor" aria-hidden="true"></i></a></li>
          <li><a href="https://www.instagram.com/santelmoresto/" target="_blank"><i class="fa fa-instagram fa-2x" aria-hidden="true"></i></a></li>
        </ul>
      </div>
    </div>
<!--footer-->
    <div class="footer">
      <div class="container">
        <div class="row">
          <div class="col-md-4 col-xs-4">
            <h3>Location</h3>
            <p>Calle La Union, Isla de Flores, Peten, Guatemala</p>
          </div>
          <div class="col-md-4 col-xs-4">
            <h3>Opening Hours</h3>
            <p>Monday-Sunday <br> 7 a.m.-10 p.m.</p>
          </div>
          <div class="col-md-4 col-xs-4">
            <h3>Phone</h3>
            <ul>
              <li><a href="tel:78675751">7867-5751</a></li>
            </ul>
          </div>
        </div>
    </div>
    <!-- Latest compiled and minified JavaScript for bootstrap -->
    <script
        src="https://code.jquery.com/jquery-3.4.1.min.js"
        integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo="
        crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    <script type="text/javascript">
      var main = function() { 
     /* Push the body and the nav over by 280px over */
      $('.icon-menu').click(function() {
        $('.menu').animate({
          left: "0px"
        }, 200);

        $('body').animate({
          left: "280px"
        }, 200);
        });

      /* Then push them back */
        $('.icon-close').click(function() {
        $('.menu').animate({
          left: "-280px"
        }, 200);

        $('body').animate({
          left: "0px"
        }, 200);
        });
      };

      $(document).ready(main);
    </script>
  </body>
  </html>